/*About Page*/
.about-title{
  color: white;
  @include font-uppercase;
  font-size: 3rem;
  letter-spacing: 2px;
}

.about-content{
  width: 60%;
  padding-bottom: 35px;

  h2 {
    @include font-uppercase;
    font-color: $color__brand-purple;
    text-align: center;
    font-size: 2.5rem;
  }
}

