.adventure-header {
  border-bottom: 1px $border__solid dashed;
  @include font-uppercase;
  text-align: center;
  padding: 30px 0px;
  margin-bottom: 40px;
}

.adventures-grid {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  
}

.adventure {
  position: relative;
  width: 47%;
  height: 550px;
  padding-right: 25px;
  padding-bottom: 25px;
  

  .adventure-img {
    display: flex;
    justify-content:center;
    overflow: hidden; 
    max-height: 550px;
    background-color: rgba(0,0, 0, 0.5);
    // z-index: 1;
    img {
      max-height: none;
      max-width: 900px;
      z-index: -1;
    }
  }
}

.adventure-info  {
  position: absolute;
  padding:30px;
  top: 0;

  h2 a {
    font-family: Merriweather;
    color: white;
    font-weight: normal;
    font-size: 3rem;
    margin: 30px 0px;
  }

  .read-more {
    border-color: white;
    color: white;
  }
}

/*Single Adventure Post*/
.single-adventure {
  .site-content{
  width: 100%;
  margin: 0;
  padding: 0;
}
  .content-area {
    width: 100%;
    padding: 0;
  }

}

.single-adventure-image {
  width: 100%;
  height: auto;
}

.adventure-full-info {
  width: 60%;
  margin-bottom: 3rem;

  h1 {
    text-align: left;
    border: none;
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 3px;
    line-height: 1.25;
  }

  h3 {
    @include font-uppercase;
    font-weight: normal;
    margin-top: 0;
  }
}