/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


body {
	color: $color__text-main;
}

/*Header*/

.main-navigation{
	background-color: rgba(255,255,255,0.5);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	z-index: 100;
	top: 32px;//to display on screen with admin bar
	height: 45px;
	border-bottom: 1px $color__brand-lightgray solid;
	text-align: center;

	a {
		width: 80px;
		color: $color__brand;
	}
}
