/*--------------------------------------------------------------
# Content, General Page Layouts, Search and Contact Page
--------------------------------------------------------------*/
/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


/*Front Page and About Page*/
.page-template-page-about,
.home {
	.site-content{
		width: 100%;
		margin: 0;
		padding-top:0;
	}
}

/*All Pages*/
.error404,
.search,
.page-template-page-contact,	
.archive,
.single,
.blog {
	.site-content {
		@include flex-display(flex-start);
		flex-wrap: nowrap;
	}

	.content-area{
		padding: 55px 55px 55px 0px;
		width: 94%;
	}
}


/*Contact Us*/
.page-template-page-contact {

	h1 {
		@include font-uppercase;
		font-size: 2rem;
		color: $color__brand-purple;

	}

	.entry-title {
		margin-top: 0;
		color: black;
	}
}

/*Search Results*/
.search {
	article {
		width: 100%;
		height: auto;
	}

	.entry-header{
		@include font-uppercase;
		color: $color__brand;
		font-size: 1.5rem;
	}
}


.search-meta {
	color: black;
	font-size: 1rem;
}

/*Log In Page Button*/
#wp-submit .button-primary {
	background: $color__brand;
}