/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
body {
  font-family: Merriweather;
  font-size: 16px;
  line-height: $font__line-height-body;
  color: $color__text-main;
}

a{
  text-decoration: none;
  color: $color__brand;

  &:hover {
    color: $color__brand-purple;
  }
}

h1,
h2,
h3 {
  margin: 0;
}

.wrapper{
  width: 1120px;
  margin:0 auto;
}

.site-content {
  padding-top: 45px;
}

ul,ol{
  list-style-type: none;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

