/*--------------------------------------------------------------
# Inputs and Comment Forms
--------------------------------------------------------------*/
/*Search Bar*/
fieldset {
	border: 0;

	input[type="search"]{
		display:none;
		text-transform: uppercase;
		font-family: Novecento Sans;
		border: none;
		background: transparent;
		
		&:focus{
			outline: none;
		}
	}

	.search-submit {
		background-color: transparent;
		color: $color__brand;
		border: 0;
		cursor: pointer;
		&:focus {
			outline: none;
		}
	}
}


/*Comment Form*/
form{
	
	h3{
		@include font-uppercase;
		font-size: 2rem; 
		margin: 20px 0;
	}

	textarea {
		width: 765px;
	}

	label {
		@include font-uppercase;
	}

	input,
	textarea{
		background-color: #f4f4f4;
		border: $border__solid;
		margin-top: 10px;
	}

	input {
		font-size: 1rem;
		padding: 7px;

	}

	.required {
		color: red;
	}
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		width: 49%;

		label {
			width: 100%;
			margin-bottom: 8px;
		}

		input {
		width: 98%;
		margin-bottom: 10px;
	}
}

.comment-form-author {
	float: left;
	overflow: hidden;
}

.comment-form-email {
	float: right;
	overflow: hidden;
}

.comment-form-url input {
	width: 200%;
}

input[type="submit"] {
	background-color: $color__brand;
	color: white;
	padding: 8px 20px;
	@include font-uppercase;

	&:hover {
		background-color: darken($color__brand, 10%);
	}
}