/*--------------------------------------------------------------
# Inputs and Comment Forms
--------------------------------------------------------------*/
/*Search Bar*/
fieldset {
	border: 0;

	input[type="search"]{
		display:none;
		text-transform: uppercase;
		font-family: Novecento Sans;
		border: none;
		background: transparent;
		
		&:focus{
			outline: none;
		}
	}

	.search-submit {
		background-color: transparent;
		color: $color__brand;
		border: 0;
		cursor: pointer;
		&:focus {
			outline: none;
		}
	}
}

