/*--------------------------------------------------------------
# Inputs and Buttons
--------------------------------------------------------------*/

/*Search Bar*/
fieldset {
	border: 0;

	input[type="search"]{
		display:none;
		text-transform: uppercase;
		font-family: Novecento Sans;
		border: none;
		
		&:focus{
			outline: none;
		}
	}

	.search-submit {
		background-color: white;
		color: $color__brand;
			&:focus {
			outline: none;
		}
		
	}
}