/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
//Hero Image
.home .hero-image {
  background:
  linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url('../../assets/images/home-hero.jpg')no-repeat;
  height: 100vh;
  background-size: cover, cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
  img{
    width: 280px;
  }
}

//Shop Stuff

  .home h1{
    @include font-uppercase;
    text-align: center;
    font-weight: normal;
    margin: 45px 0px;
    font-size: 2.5rem;
  }

.shop-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: row nowrap;

  .each-category {
    width: 23%;
    text-align: center;
    border: $border__solid;
    padding: 10px;
    margin-right: 20px;
    border-top-width: 5px;
    line-height: 1.7;

    &:hover{
      border-color: $color__brand-orange;
    }
  }

  img {
    width: 70px;
  }

  a {
    color: white;
    background-color: $color__brand;
    border: none;
    padding: 10px 20px;
    width: auto;
    font-size: 14px;
    @include font-uppercase;

      &:hover{
        border: none;
        background-color: darken($color__brand, 10%);
      }
  }
}

.stuff {
  margin-bottom: 15px;
}

//Journal
.inhabitent-journal {
  display: flex;
  flex: row nowrap;
  justify-content: center;
  align-items: center;
}

.latest-blog {
  width: 35%;
  text-align: center;

  img {
    width: 250px;
  }
}

.latest-blog-meta {
  font-size: 8px;
}