/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
  .shop-stuff h1{
    @include font-uppercase;
  }

.shop-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: row nowrap;



  .each-category {
    width: 20%;
  }

  img {
    width: 300px;
  }
}