/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
//Hero Image
.home .hero-image {
  background:
  linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url('../../assets/images/home-hero.jpg')no-repeat;
  height: 100vh;
  background-size: cover, cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
  img{
    width: 280px;
  }
}

//Shop Stuff

.home h1{
  @include font-uppercase;
  text-align: center;
  font-weight: normal;
  margin: 45px 0px;
  font-size: 2.5rem;
}

.shop-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: row nowrap;

  .each-category {
    width: 23%;
    text-align: center;
    border: $border__solid;
    padding: 10px;
    margin-right: 20px;
    border-top-width: 5px;
    line-height: 1.7;

    &:hover{
      border-color: $color__brand-orange;
    }
  }

  img {
    width: 70px;
  }

  a {
    color: white;
    background-color: $color__brand;
    border: none;
    padding: 10px 20px;
    width: auto;
    font-size: 14px;
    @include font-uppercase;

    &:hover{
      border: none;
      background-color: darken($color__brand, 10%);
    }
  }
}

.stuff {
  margin-bottom: 15px;
}

//Journal
.inhabitent-journal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

}

.latest-blog {
  margin-right: 20px;
  width: 40%;

  .latest-blog-img {
   width: 100%;
   height:250px;
 }

 img {
  height: 100%;
}
}

.latest-blog-info{
  border: $border__solid;
  border-top-width: 5px;
  padding:0px 15px;
  text-align: left;

  h2{
    @include font-uppercase;
    font-size: 1.3rem;
    margin-top: 0;
  }
}

.latest-blog-meta {
  font-size: 13px;
  padding-top: 10px;
  margin-bottom: 0;

}

/*Latest Adventures*/
.clearfix:after {
  @include clearfix;
}

.front-page-ads {

  .adventure{
    float: left;
    overflow: hidden;

    &:nth-child(2) {
      height: 230px;
      background-color: red;
      border-bottom: 25px white solid;

      .adventure-img {
        position: absolute;
        bottom: -40%;
        right: -35%;
      }

      h2 a {
        font-size: 2.5rem;
      }
    }

    &:nth-child(3) {
      border-right: 25px white solid;
    }

    &:nth-child(3),
    &:last-child {
      width: 21.3%;
      height: 245px;

      .adventure-img {
        position: absolute;
        right: -63%;
        bottom: -10%;
      }

      img {
        width: 600px;

      }
      h2 a {
        font-size: 1.5rem;
      }

    }
  }
}

.more-adventures {
  margin-bottom: 60px;
  a{
    @include font-uppercase;
    background-color: $color__brand;
    border: none;
    color: white;
    padding: 13px 23px;
    font-size: 1.3rem;

  }
}

