/*---------------------------------------------------------
# Header
-----------------------------------------------------------*/
//Main navigation menu
.main-navigation {
  @include flex-display(flex-end);
  @include font-uppercase;
  align-items: center;
  height: 45px;
  text-align: center;
}


/*Fixed Header*/
.site-header {
  background-color: rgba(255,255,255,0.7);
  border-bottom: $border__solid;
  z-index : 2;
  color: $color__brand;
  position: fixed;
  width: 100%;
  // top: 0;

  .tent-logo {
    margin-right: auto;
    a h1 {
      background: 
        url("../../assets/images/inhabitent-logo-tent.svg")
        center/50px 50px
        no-repeat;
      height: 50px;
      width: 50px;
      overflow: hidden;
      text-indent: 80%;
      margin: 0;
    }
  }

  a {
    width: 80px;
  }

  a,
  .fa,
  input[type="search"] {
    color: $color__brand;

    &:hover{
      color: $color__brand-purple;
    }
  }
}

.new-header{
  background-color: transparent;
  position: absolute;
  transition: ease-in-out;
  border: none;
  .tent-logo {
    // margin-right: auto;
    a h1 {
      
      background-image: 
      url("../../assets/images/inhabitent-logo-tent-white.svg");
        // center/50px 50px
        // no-repeat;
      // height: 50px;
      // width: 50px;
      // overflow: hidden;
      // text-indent: 80%;
      // margin: 0;;
    }
}
  a,
  input[type="search"],
  .fa {
    color: white;
        &:hover{
      color: $color__brand-yellow;
    }
  }
}


/*Back-end User Fixed Header*/
.logged-in {
  .site-header{
    top: 32px;
  }
}


