/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget-area {
  padding: 55px 0px 0px 53px;
  width: 30%;
  line-height: 2.5;
  border-left: $border__solid;

  h2{
    @include font-uppercase;
    color: $color__brand-purple;
    margin: 0px;
    letter-spacing: 2px;
  }

  a:hover {
    color: $color__brand-purple;
  }
  
  .fa-li{
    padding: 10px 15px 0px 0px;
  }
  
  .widget_archive ul{
    line-height: $font__line-height-body;
  }

  .business-hours-items{
    font-weight: bold;
  }
}
